@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="container">
        <h1 class="my-3">Le mie pizze</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col" style="width: 20%">Foto</th>
                    <th scope="col">Prezzo</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>Margherita</td>
                    <td>pomodoro, mozzarella e basilico</td>
                    <td><img src="Foto" class="img-fluid" alt="Margherita"></td>
                    <td>5.50€</td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
